<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <div class="page-header">
    <a class="btn btn-lg btn-warning" ng-href="/#/course">Manage Course</a>
    <a class="btn btn-lg btn-success" ng-href="/#/exercise">Create Exercise</a>
    <div class="pull-right col-md-3" ng-controller="SearchCtrl">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 right-col-line">
      <h2><u>Courses</u></h2>
      <ul class="list-unstyled">
        <li ng-repeat="course in courses">
          <button type="button"
                  class="btn btn-default btn-sm btn-block"
                  ng-class="courseClass(course)"
                  ng-click="$parent.current_course_id = course.id">
            <span class="glyphicon glyphicon-menu-hamburger pull-left" aria-hidden="true"></span>
            {{ course.title }}
            <span class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-4 right-col-line">
      <h2><u>Collections</u></h2>
      <ul class="list-unstyled">
        <li ng-if="!collections">No collections</li>
        <li ng-if="collections.length > 1">
          <button type="button"
                  class="btn btn-sm btn-default btn-lg btn-block"
                  ng-class="collectionClass()"
                  ng-click="collectionClick(0)"
          >
            All
          </button>
        </li>
        <li ng-repeat="collection in collections">
          <button type="button"
                  class="btn btn-sm btn-default btn-lg btn-block"
                  ng-class="collectionClass(collection)"
                  ng-click="$parent.current_collection_id = collection.id"
          >
            <span class="glyphicon glyphicon-menu-hamburger pull-left" aria-hidden="true"></span>
            {{ collection.title }}
            <span class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2><u>Exercises</u></h2>
      <ul class="list-unstyled">
        <li ng-if="!exercises">No exercises</li>
        <li ng-repeat="exercise in exercises">
          <button type="button" class="btn btn-sm btn-default btn-lg btn-block">
            <span class="glyphicon glyphicon-menu-hamburger pull-left" aria-hidden="true"></span>
            {{ exercise.title }}
            <span class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://github.com/Harvard-ATG">Harvard</a></p>
  </div>

</div>
